/*
    FredMin
    Written By: David Collins-Cubitt    
*/

body {
    color: #000000;
    background-color: #ffffff;
    font-family: helvetica, arial, sans;
}

div.header {
    color: #ffffff;
    background-color: RGB(58,71,162);
    width: 100%;
    height: 60px;
    top: 0;
    left:0;
    position: fixed;
}

img.logo {
    height: 25px;
    top: 20;
    left: 10;
    position: fixed;
}

a.back {
    color: #ffffff;
    font-family: arial;
    font-weight: bold;
    font-size:10pt;
    text-decoration: none;
    position: fixed;
    top: 35px;
    right: 50px;
}

p.menu-header {
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    border-color: #dcdfe5;
    border-style: solid;
    background-color: #e8e8e8;
    color: #000000;
    font-size: 10pt;
    padding: 2px;
}

img.icon {
    height: 50px;
    padding-bottom: 5px;
}

div.icon {
    display: inline-block;
    padding: 20px;
    text-align: center;
    
}

a.icon {
    text-align: center;
    font-size: 11px;
    color: #315389;
    text-decoration: none;
}

div.content {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border:2px;
    padding: 20px;
    font-family: helvetica, arial, sans;
    text-align: left;
}

table, td, tr {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid;
}

div.page-footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
    border-width: 1px;
    border-color: #dcdfe5;
    border-style: solid;
    background-color: #e8e8e8;
    color: #aaaaaa;
    font-size: 10pt;
    padding: 2px;
}